<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="FUMIT" connectionString="Data Source=175.50.5.9;Initial Catalog=FUMIT;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />-->
    <add name="FUMIT" connectionString="Data Source=dah-255\SQLEXPRESS;Initial Catalog=FUMIT;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="FUMIT1" connectionString="data source=DAH-255\SQLEXPRESS;initial catalog=FUMIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FUMITEntities" connectionString="metadata=res://*/Properties.DataSources.Model1.csdl|res://*/Properties.DataSources.Model1.ssdl|res://*/Properties.DataSources.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAH-255\SQLEXPRESS;initial catalog=FUMIT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>